<h1 class="text-2xl font-bold mb-6 text-center">
  <%= @form.group_assignment.new_record? ? 'グループ分け作成' : 'グループ分け編集' %>
</h1>

<%= render 'form', group_assignment: @form, students: @students, skills: @skills %>