<div class="header">
  <div class="teacher-icon">
    <img src="teacher_icon.png" alt="教師アイコン" />
  </div>
  <div class="logout-button">
    <%= button_to 'ログアウト', logout_path, method: :delete, class: 'logout-button' %>
  </div>
</div>