<head>
  <style>
    .button {
      display: inline-block;
      padding: 15px 30px; 
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-size: 18px; 
    }
    .button:hover {
      background-color: #0056b3;
    }
    h1 {
      text-align: center;
      margin-top: 100px; 
      font-size: 36px; 
    }
  </style>
</head>
<h1 style="text-align: center;">ようこそ！</h1>
<div style="display: flex; justify-content: center; margin-top: 20px;">
  <p style="margin-right: 20px;">
    <%= link_to 'ログインの方はこちら', login_path, class: 'button' %>
  </p>
  <p>
    <%= link_to '新規登録はこちら', register_path, class: 'button' %>
  </p>
</div>