<h1 style="text-align: center;">ようこそ！</h1>
<div style="display: flex; justify-content: center; margin-top: 20px;">
  <p style="margin-right: 20px;">
    <%= link_to 'ログインの方はこちら', login_path, class: 'button' %>
  </p>
  <p>
    <%= link_to '新規登録はこちら', register_path, class: 'button' %>
  </p>
</div>